html {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
.root {

}
.home {
    align-content: center;
}

.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}

