html {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 13pt;
    background-color: antiquewhite;
    padding: 0px;
    margin: 4px;
}
.root {}
.head {
    align-content: center;
    text-align: center;
    background-color: purple;
    color: cornsilk;
    padding: 14px;
}
h1#title {
}
#center {
    text-align: center;
}

a {
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: cornsilk;
}

.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
